/* Landscape phones and smaller */

@media (max-width: 481px) {
    .main .main__wrapper .main__catalog .catalog__big-block{
        flex-basis: 100%;
        height: auto;
        margin-bottom: 0;
        .image-block{
            img{
                height: 250px;
            }
        }
    }

    .main .main__wrapper .main__catalog div[class^=catalog]{
        width: 100%;
    }
    .main .main__wrapper .main__img-block .more-btn a{
        width: 60%;
    }
    .main .main__wrapper .game-center .img-block__wrapper .img-block__item{
        width: 100%;
    }
    .main .main__wrapper .more-info .img-block__wrapper .img-block__item{
        width: 100%;
        height: 250px;
        img{
            height: 250px;
        }
    }
    .main .main__wrapper .main__slider .slider__item{
        width: 70%;
    }
}