//function .hover-link({code});
@import url(./function.less);

//variables

//colors
@background-color:  #E5E5E5;
@main-color: #2A2A2A;
@active-color: #F9A43F;
@shadow-background: #C4C4C4;
//gradients
@gradient: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
@black-blue: linear-gradient(179.89deg, #434D5A 0.09%, #131416 99.91%);
@black-red: linear-gradient(180deg, #4C141A 0%, #210709 100%);
//shadows
@main-box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
@active-box-shadow:5px 6px 15px rgba(251, 121, 27, 0.63);

//body
body{
    font-family: Trebuchet MS;
}

//header
.header{
    background-color: @main-color;
    height: 82px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .header__wrapper{
        width: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        .header__logo-image{
            margin-right: 3%;
            img{
                width: 100%;
            }
        }
        .header__find-game{
            width: 30%;
            margin-right: 6%;
            position: relative;
            input[type="text"]{
                width: 100%;
                height: 38px;
                border: 1px solid #F2F2F2;
                box-sizing: border-box;
                border-radius: 9px;
                font-size: 12px;
                color: #929292;
                padding-left: 10px;
            }
            input[type="text"],
            input[type="text"]:focus,
            input[type="text"]:active{
                outline: none;
            }
            .header__aicon{
                position: absolute;
                display: flex;
                align-items: center;
                top: 0;
                bottom: 0;
                right: 0.875rem;
                width: 1rem;
                cursor: pointer;
                color: #bdbdbd;
                transition: color 0.15s ease-in-out;
            }
        }
        .header__telephone{
            display: flex;
            align-items: center;
            margin-right: 3%;
            p{
                color: white;
                font-size: 20px;
                font-weight: bold;
            }
        }
        .header__profile-cart{
            svg:first-child{
                margin-right: 10px;
            }
        }
    }
}

//navigation
.navigation{
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 52px;
    .navigation__wrapper{
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        .navigation__burger{
            display: flex;
            align-items: center;
            cursor: pointer;
            svg{
                margin-right: 15px;
            }
        }
        .navigation__list{
            padding: 0 5%;
            ul{
                list-style: none;
                display: flex;
                li{
                    margin: 0 1rem;
                    a{
                        color: black;
                    }
                }
            }
        }
        a{
            text-decoration: none;
        }
    }
}

//slider
.slider{
    .slider__wrapper{
        overflow: hidden;
        .slider__items{
            display: flex;
            .slider__item{
                margin: 0 2.5px;
                img{
                    height: 320px;
                }
            }
            .slider__item:first-child{
                margin-left: -13%;
            }
        }
    }
    .slider__control {
        position: absolute;
        top: 39%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: @main-color;
        border-radius: 50%;
    }  
    .slider__control[data-slide='prev'] {
        left: 1.5rem;
    } 
    .slider__control[data-slide='next'] {
        right: 1.5rem;
    }
  
    .slider__control:hover,
    .slider__control:focus {
        color: #fff;
        text-decoration: none;
        outline: 0;
        background: rgba(0, 0, 0, 0.3);
    }
  
    .slider__control::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background: transparent no-repeat center center;
        background-size: 100% 100%;
    }
    .slider__control[data-slide='prev']::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }
  
    .slider__control[data-slide='next']::before {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }
}
