html {
  font-size: 16px;
}
body {
  font-family: Trebuchet MS;
  background-color: #E5E5E5;
}
.slider {
  background-color: #E5E5E5;
  position: relative;
  margin-top: 135px;
}
.slider .slider__wrapper {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.slider .slider__wrapper .slider__items {
  display: flex;
  position: relative;
  left: -400px;
  transition: all ease 1s;
}
.slider .slider__wrapper .slider__items .slider__item {
  margin: 0 2.5px;
  position: relative;
  pointer-events: none;
}
.slider .slider__wrapper .slider__items .slider__item img {
  height: 320px;
  pointer-events: none;
  user-select: none;
}
.slider .slider__wrapper .slider__items .slider__item .slider__item_text {
  position: absolute;
  bottom: 34px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 5%;
}
.slider .slider__wrapper .slider__items .slider__item .slider__item_text .block {
  color: white;
  font-size: 0.875rem;
}
.slider .slider__wrapper .slider__items .slider__item .slider__item_text .block p {
  margin: 0;
  padding: 0;
}
.slider .slider__wrapper .slider__items .slider__item .slider__item_text .block .block_header {
  font-size: 1.75rem;
}
.slider .slider__wrapper .slider__items .slider__item .slider__item_text .slider__item_button {
  width: 6.5rem;
  height: 32px;
  border-radius: 10px;
  transition: all 0.2s;
  user-select: none;
  pointer-events: all;
}
.slider .slider__wrapper .slider__items .slider__item .slider__item_text .slider__item_button a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  text-decoration: none;
  background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slider__wrapper .slider__items .slider__item .slider__item_text .slider__item_button:hover {
  box-shadow: 5px 6px 15px rgba(251, 121, 27, 0.63);
}
.slider .slider__wrapper .slider__items .slider__item:first-child {
  margin-left: -13%;
}
.slider .slider__wrapper::-webkit-scrollbar {
  display: none;
}
.slider .slider__control {
  position: absolute;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #2A2A2A;
  border-radius: 50%;
}
.slider .slider__control[data-slide='prev'] {
  left: 1.5rem;
}
.slider .slider__control[data-slide='next'] {
  right: 1.5rem;
}
.slider .slider__control:hover,
.slider .slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background: rgba(0, 0, 0, 0.3);
}
.slider .slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.slider .slider__control[data-slide='prev']::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.slider .slider__control[data-slide='next']::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.main {
  background-color: #E5E5E5;
}
.main .main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .main__wrapper .main__catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}
.main .main__wrapper .main__catalog .catalog__small-block {
  max-width: 510px;
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.main .main__wrapper .main__catalog .catalog__small-block .catalog__first-block,
.main .main__wrapper .main__catalog .catalog__small-block .catalog__last-block {
  height: 21.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .main__wrapper .main__catalog .catalog__small-block .image-block {
  height: 10rem;
  user-select: none;
}
.main .main__wrapper .main__catalog .catalog__small-block .image-block img {
  height: 10rem;
  width: 100%;
  pointer-events: none;
}
.main .main__wrapper .main__catalog .catalog__big-block {
  flex-basis: 49%;
  height: 21.5rem;
  transition: 0.1s ease-in;
}
.main .main__wrapper .main__catalog .catalog__big-block .image-block {
  pointer-events: none;
  user-select: none;
}
.main .main__wrapper .main__catalog .catalog__big-block .image-block img {
  width: 100%;
  height: 21.5rem;
}
.main .main__wrapper .main__catalog .catalog__big-block:hover {
  transform: translate3d(10px, -10px, 0);
}
.main .main__wrapper .main__catalog .catalog__big-block:hover .image-text {
  color: #F9A43F;
}
.main .main__wrapper .main__catalog .image-block {
  border-radius: 10px;
  position: relative;
  transition: all 0.2s;
}
.main .main__wrapper .main__catalog .image-block img {
  border-radius: 10px;
}
.main .main__wrapper .main__catalog .image-block .image-text {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #2A2A2A 0%, #2A2A2A 100%);
  border-radius: 0px 0px 10px 10px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  color: white;
  white-space: nowrap;
  font-weight: 1.125rem;
  font-weight: bold;
  padding: 0 2rem;
  height: 2.875rem;
  transition: 0.1s ease-in;
}
.main .main__wrapper .main__catalog .image-block:hover {
  transform: translate3d(5px, -5px, 0);
}
.main .main__wrapper .main__catalog .image-block:hover .image-text {
  color: #F9A43F;
}
.main .main__wrapper .main__slider {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.main .main__wrapper .main__slider .slider__item {
  height: 409px;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
  position: relative;
  padding-top: 20px;
  user-select: none;
  transition: all 0.2s;
}
.main .main__wrapper .main__slider .slider__item img {
  height: 145px;
  pointer-events: none;
}
.main .main__wrapper .main__slider .slider__item .offer {
  position: absolute;
  top: 0;
  right: 30px;
  background-color: #F9A43F;
  width: 69px;
  height: 29px;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: white;
}
.main .main__wrapper .main__slider .slider__item .slider__item_text {
  padding: 0 10%;
  text-align: center;
  width: 80%;
  height: 150px;
  user-select: all;
}
.main .main__wrapper .main__slider .slider__item .slider__item_text .other-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.main .main__wrapper .main__slider .slider__item .slider__item_text .other-info .people {
  display: flex;
  align-items: center;
}
.main .main__wrapper .main__slider .slider__item .slider__item_text .other-info .people svg {
  margin-right: 5px;
}
.main .main__wrapper .main__slider .slider__item .slider__item_text .description {
  font-weight: bold;
  margin: 0;
}
.main .main__wrapper .main__slider .slider__item .slider__buttons-block {
  position: absolute;
  bottom: 20px;
  width: 80%;
}
.main .main__wrapper .main__slider .slider__item .slider__buttons-block a {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  height: 34px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.2s;
}
.main .main__wrapper .main__slider .slider__item .slider__buttons-block .cart {
  background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main__wrapper .main__slider .slider__item .slider__buttons-block .cart:hover {
  box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
}
.main .main__wrapper .main__slider .slider__item .slider__buttons-block .buy {
  color: #F9A43F;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px #F9A43F solid;
  margin-top: 10px;
}
.main .main__wrapper .main__slider .slider__item .slider__buttons-block .buy:hover {
  box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
}
.main .main__wrapper .main__slider:hover .slider__item:hover {
  transform: translate3d(10px, -10px, 0);
  box-shadow: 10px 11px 16px rgba(42, 42, 42, 0.16);
}
.main .main__wrapper .main__slider .price {
  font-weight: bold;
  font-size: 1.3125rem;
  margin: 20px 10px 10px 10px;
  position: absolute;
  bottom: 100px;
}
.main .main__wrapper .main__slider .old-price {
  left: 30px;
  text-decoration: line-through;
}
.main .main__wrapper .main__slider .new-price {
  right: 30px;
}
.main .main__wrapper .main__img-block {
  width: 75%;
}
.main .main__wrapper .main__img-block .img-block__wrapper {
  display: flex;
  justify-content: space-between;
}
.main .main__wrapper .main__img-block .img-block__wrapper .img-block__item {
  position: relative;
  width: 48%;
  transition: all 0.2s;
  border-radius: 10px;
  box-shadow: 10px 11px 16px rgba(42, 42, 42, 0.16);
}
.main .main__wrapper .main__img-block .img-block__wrapper .img-block__item img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}
.main .main__wrapper .main__img-block .img-block__wrapper .img-block__item .img-block__text {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #2A2A2A;
  opacity: 0.8;
  border-radius: 0 0 10px 10px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main__wrapper .main__img-block .img-block__wrapper .img-block__item .img-block__text p {
  color: white;
}
.main .main__wrapper .main__img-block .img-block__wrapper .img-block__item .img-block__text .game-name {
  color: #F9A43F;
  font-weight: bold;
  width: 90%;
}
.main .main__wrapper .main__img-block .img-block__wrapper .img-block__item .img-block__text .date {
  position: absolute;
  right: 20px;
}
.main .main__wrapper .main__img-block .img-block__wrapper .img-block__item .img-block__text .description {
  width: 90%;
}
.main .main__wrapper .main__img-block .img-block__wrapper .img-block__item:hover {
  transform: translate3d(10px, -10px, 0);
}
.main .main__wrapper .main__img-block .more-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
.main .main__wrapper .main__img-block .more-btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
  width: 25%;
  height: 71px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 1.4375rem;
  transition: all 0.2s;
}
.main .main__wrapper .main__img-block .more-btn a:hover {
  box-shadow: 5px 6px 15px rgba(251, 121, 27, 0.63);
}
.main .main__wrapper .more-info .img-block__wrapper .img-block__item {
  width: 30%;
}
.main .main__wrapper .more-info .img-block__wrapper .img-block__item .img-block__text {
  justify-content: center;
  bottom: 0px;
}
.main .main__wrapper .more-info .img-block__wrapper .img-block__item .img-block__text p {
  margin: 0;
  padding: 2% 0;
}
.main .main__wrapper .more-info .img-block__wrapper .img-block__item .img-block__text .game-name {
  color: white;
  font-style: 1.2rem;
  font-weight: bold;
}
.main .main__wrapper .more-info .more-btn a {
  background: #E5E5E5;
  border: 3px solid #F9A43F;
  box-sizing: border-box;
  color: #2A2A2A;
}
.main .main__wrapper .game-center {
  margin-top: 5%;
  color: #2A2A2A;
}
.main .main__wrapper .game-center .block-header {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0;
}
.main .main__wrapper .game-center .img-block__wrapper .img-block__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .main__wrapper .game-center .img-block__wrapper .img-block__item p {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}
.main .main__wrapper .main__info {
  margin: 5% 0;
  width: 75%;
}
.main .main__wrapper .main__info .info__wrapper {
  display: flex;
  justify-content: space-between;
}
.main .main__wrapper .main__info .info__wrapper .info__item {
  color: #2A2A2A;
  width: 48%;
  text-align: left;
}
.main .main__wrapper .main__info .info__wrapper .info__item .bold-text {
  font-weight: bold;
  font-size: 1.375rem;
}
.main .main__wrapper .main__info .info__wrapper .info__item .header-text {
  font-size: 2rem;
  margin-bottom: 3%;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts {
  width: 40%;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .telephon,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .email,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .address,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .time {
  display: flex;
  align-items: center;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .telephon .img-block img,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .email .img-block img,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .address .img-block img,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .time .img-block img {
  width: 30px;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .telephon p,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .email p,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .address p,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .time p {
  margin: 0.7rem 0;
  margin-left: 5%;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .telephon p span,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .email p span,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .address p span,
.main .main__wrapper .main__info .info__wrapper .info__contacts .media-block .time p span {
  font-weight: bold;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .info__fieldset {
  border: none;
  padding: 0;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .info__fieldset .info__input {
  width: 100%;
  height: 45px;
  font-size: 0.9rem;
  color: #2A2A2A;
  border-radius: 10px;
  padding: 0 10px;
  margin: 2% 0 4% 0;
  border: 1px #2A2A2A solid;
  box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
  box-sizing: border-box;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .info__fieldset .info__input:active,
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .info__fieldset .info__input:hover,
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .info__fieldset .info__input:focus {
  outline: 0;
  outline-offset: 0;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .info__fieldset .info__texarea {
  width: 100%;
  font-size: 0.9rem;
  color: #2A2A2A;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 2% 0 4% 0;
  resize: none;
  height: 100px;
  border: 1px #2A2A2A solid;
  box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
  box-sizing: border-box;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .info__fieldset .info__texarea:active,
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .info__fieldset .info__texarea:hover,
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .info__fieldset .info__texarea:focus {
  outline: 0;
  outline-offset: 0;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .btn {
  width: 100%;
  color: white;
  height: 46px;
  background: linear-gradient(184.53deg, #F9A43F 5.27%, #FB791B 91.78%);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.main .main__wrapper .main__info .info__wrapper .info__contacts .info__form .btn:hover {
  box-shadow: 5px 6px 15px rgba(251, 121, 27, 0.63);
}
.main .main__wrapper .main__info .info__wrapper .info__map .info__iframe {
  border-radius: 10px;
  box-shadow: 5px 6px 16px rgba(42, 42, 42, 0.16);
  height: 100%;
  width: 100%;
}
.main .section-header {
  font-size: 2rem;
  font-weight: bold;
  color: #363636;
  width: 75%;
  margin: 4rem 0 2rem 0;
}
.main .slider {
  margin-top: 0;
}
